#!/bin/sh
# Sets environment variables for the script

# Modify with your CPanel information and rename the file to profile.cpanel
# Update the source command in ddns.wanup to provide the fullpath for this file

DDNSPATH=/jffs/bin
LOGPATH=/jffs/log

export AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXX"
export AWS_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export AWS_REGION="us-east-1" # DO NOT CHANGE - Lightsail always use this region

# Download from cacert.pem from https://curl.haxx.se/docs/caextract.html
export SSL_CERT_FILE="/jffs/cacerts/cacert.pem"

DOMAIN_NAME="mydomain.com"
HOST_NAME="subdomain"